@media(max-width: 575px){
    .extend-btn{
        display: flex;
    }
    .form-container{
        flex-direction: column;
    }
    .form-box{
        width: 100%;
    }
    .info-content{
        width: 100%;
        text-align: center;
        border-radius: 40px 40px 80px 80px;
        border-left: none;
        border-top: solid 3px var(--theme-color);
        margin-bottom: 3dvi;
    }
}