<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat | 
        <%=  %> 
    </title> 

    <%- include('../partials/main/header.ejs'); -%>

    <div class="course-name">
        <a href="">
            Admin's Announcement
        </a>
    </div>
    <main class="admin-announcement">
        <section class="announcements-container">
            <div class="header-menu-name">
                <h2>
                    Admin's Announcement
                </h2>
            </div>
            <div class="announcement-listed">
                <ul>
                    <li>
                        <div class="announcement-container">
                            <p href="#">
                                System maintaining: New course has been added.
                            </p>
                            <div class="description">
                                <span>
                                    Dear Students, we have added a new course to the system. Please check it out.
                                    Best regards, Admin.
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
        </section>
    </main>
<script>
    const announcementList = document.querySelector('.announcement-listed');
    const announcementUl = announcementList.querySelector('ul');
    

</script>
<%- include('./partials/footer.ejs') -%>