<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat | 
        <%=  %> 
    </title> 
<%- include('../../partials/main/header.ejs'); -%>

<div class="course-name">
    <a href="">
        Admin's Announcement
    </a>
</div>
<section class="course-announcement">
    <div class="header-menu-name">
        <h2>
            Admin's Announcement
        </h2>
    </div>
    <div class="announcement-listed">
        <ul>
            <li>
                <div class="announcement-container">
                    <a href="#">
                        System maintaining: New course has been added.
                    </a>
                    <div class="description">
                        <span>
                            Dear Students, we have added a new course to the system. Please check it out.
                            Best regards, Admin.
                        </span>
                    </div>
                </div>
            </li>
        </ul>
</section>
<%- include('./partials/footer.ejs') -%>