<%- include('./partials/header.ejs'); -%>
<section class="course-announcement">
    <div class="header-menu-name">
        <h2>
            Announcement
        </h2>
    </div>
    <div class="announcement-listed">
        <div class="new-announcement">
            <div class="form-header-announcement">
                <h2 id="new-announcement">
                    Create Announcement
                </h2>
            </div>
            <script>
                document.getElementById("new-announcement").addEventListener("click", function() {
                    document.querySelector(".form-create-announcement").classList.toggle("show");
                });
            </script>
            <div class="form-create-announcement">
                <form action="">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="" placeholder="Title of Announcement" required>
                    <label for="description">Description</label>
                    <textarea placeholder="Type your announcement here..."></textarea>
                    <div class="button-form">
                        <button type="submit">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                        <button type="reset">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <ul></ul>
    </div>
</section>
<!-- Script to send announcement creationg request -->
<script>
    let pCourse = '<%- JSON.stringify(pCourse) %>';
    pCourse = JSON.parse(pCourse);

    const formCreateAnnouncement = document.querySelector(".form-create-announcement form");

    formCreateAnnouncement.addEventListener("submit", async function(e) {
        e.preventDefault();

        const courseID = pCourse._id;
        const title = formCreateAnnouncement.querySelector("input[name='title']").value;
        const content = formCreateAnnouncement.querySelector("textarea").value;
        const senderID = pCourse.teacherID;
        const receivers = pCourse.students;
        const type = 'course';
        const router = `/teacher/course/${courseID}/announcement`

        try {
            const res = await fetch(router, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ courseID, title, content, senderID, receivers, type })
            });

            if (res.status >= 200 && res.status < 300) {
                console.log("Announcement created successfully");
                location.reload();
            }
        } catch (error) {
            console.log(error);
        }

        
    });
</script>

<!-- Script to render announcements -->
<script>
    // Announcements
    let announcements = '<%- JSON.stringify(announcements).replace(/\\/g, "\\\\") %>';
    announcements = JSON.parse(announcements);
    // SORT ANNOUNCEMENTS BY DATE: newest to oldest
    announcements.sort((a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime());

    const announcementListed = document.querySelector(".announcement-listed ul");

    announcements.forEach(announcement => {
        const announcementContainer = document.createElement("li");
        announcementContainer.innerHTML = `
            <div class="announcement-container">
                <a id="${announcement._id}">
                    ${announcement.title}
                </a>
                <div class="description">
                    <span>
                        ${announcement.content}
                    </span>
                </div>
            </div>
        `;
        announcementContainer.id = announcement._id;
        announcementListed.appendChild(announcementContainer);
    });
</script>
<%- include('./partials/footer.ejs'); -%>