<%- include('./partials/header.ejs'); -%>

<section class="course-homework">
    <div class="header-menu-name">
        <h2>
            Grade
        </h2>
    </div>
    <div class="homework-listed">
        <ul>
            <li>
                <a href="#">
                    <div class="homework-name">Homework 3: JavaScript</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="homework-name">Homework 3: JavaScript</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="homework-name">Homework 3: JavaScript</div>
                </a>
            </li>
        </ul>
    </div>
</section>
<%- include('./partials/footer.ejs'); -%>