<%- include('./partials/header.ejs'); -%>
<section class="course-discussion"> 
    <div class="left-side">
        <div class="header-menu-name teacher-dcs" >
            <h2 id="hide-chatbox">
                Discussion
            </h2>
            <div class="create" id="discussion-form">
                <i class="fas fa-plus"></i> 
            </div>
        </div>
        <script>
            document.querySelector("#hide-chatbox").addEventListener("click", function() {
                document.querySelector(".right-side").classList.toggle("hide");
            });
            document.querySelector("#discussion-form").addEventListener("click", function() {
                document.querySelector(".new-discussion-form").style.display = "block";
            });
        </script>

        <div class="discussion-listed">
            <ul>
                <li id="discussion-id">
                    <div class="discussion-name">
                        <i class="fas fa-comments"></i>
                        <span class="discussion-brief">Discussion 1</span>
                    </div>
                </li>
                <li>
                    <div class="discussion-name">
                        <i class="fas fa-comments"></i>
                        <span class="discussion-brief">Discussion 2</span>
                    </div>
                </li>
            </ul>
        </div>
        <script>
            document.querySelector("#discussion-id").addEventListener("click", function() {
                document.querySelector("#discussion-content-id").classList.remove("hide");
                document.querySelector("#discussion-content-id").classList.add("show");
            });
        </script>
    </div>
    <!-- Container -->
</section>
<script>
    const discussions = [
        {
            _id: "discussion-content-id",
            title: "Discussion 1",
            senderID: "Student 1",
            messages: [
                {
                    content: "Hi, I have a question about the homework.",
                    time: "10:00 AM"
                },
                {
                    content: "What is your question?",
                    time: "10:05 AM"
                }
            ]
        },
        {
            _id: "discussion-content-id",
            title: "Discussion 2",
            senderID: "Student 2",
            messages: [
                {
                    content: "Hi, I have a question about the homework.",
                    time: "10:00 AM"
                },
                {
                    content: "What is your question?",
                    time: "10:05 AM"
                }
            ]
        }
    ]
    const userID = "Teacher 1";
    discussions.forEach(discussion => {
        const courseDiscussion = document.querySelector(".course-discussion");
        const rightSide = document.createElement("div");
        rightSide.classList.add("right-side");
        rightSide.id = discussion._id;
        const topicHeader = document.createElement("div");
        topicHeader.classList.add("topic-header");
        const topicInfo = document.createElement("div");
        topicInfo.classList.add("topic-info");
        const icon = document.createElement("i");
        icon.classList.add("fas", "fa-comments");
        const p = document.createElement("p");
        p.textContent = discussion.title;
        topicInfo.appendChild(icon);
        topicInfo.appendChild(p);
        topicHeader.appendChild(topicInfo);
        rightSide.appendChild(topicHeader);

        const discussionBoard = document.createElement("div");
        discussionBoard.classList.add("discussion-board");
        for (let i = 0; i < discussion.messages.length; i++) {
            if (discussion.senderID !== userID ){
                const otherMsg = document.createElement("div");
                otherMsg.classList.add("other-msg");
                const userName = document.createElement("div");
                userName.classList.add("user-name");
                const userIcon = document.createElement("i");
                userIcon.classList.add("fas", "fa-user-circle");
                const userSpan = document.createElement("span");
                userSpan.textContent = discussion.senderID;
                userName.appendChild(userIcon);
                userName.appendChild(userSpan);
                const msg = document.createElement("div");
                msg.classList.add("msg");
                const p = document.createElement("p");
                p.textContent = discussion.messages[i].content;
                msg.appendChild(p);
                const time = document.createElement("div");
                time.classList.add("time");
                const timeSpan = document.createElement("span");
                timeSpan.textContent = discussion.messages[i].time;
                time.appendChild(timeSpan);
                otherMsg.appendChild(userName);
                otherMsg.appendChild(msg);
                otherMsg.appendChild(time);
                discussionBoard.appendChild(otherMsg);
            } else {
                const ownerMsg = document.createElement("div");
                ownerMsg.classList.add("owner-msg");
                const userName = document.createElement("div");
                userName.classList.add("user-name");
                const userIcon = document.createElement("i");
                userIcon.classList.add("fas", "fa-user-circle");
                const userSpan = document.createElement("span");
                userSpan.textContent = discussion.senderID;
                userName.appendChild(userIcon);
                userName.appendChild(userSpan);
                const msg = document.createElement("div");
                msg.classList.add("msg");
                const p = document.createElement("p");
                p.textContent = discussion.messages[i].content;
                msg.appendChild(p);
                const time = document.createElement("div");
                time.classList.add("time");
                const timeSpan = document.createElement("span");
                timeSpan.textContent = discussion.messages[i].time;
                time.appendChild(timeSpan);
                ownerMsg.appendChild(userName);
                ownerMsg.appendChild(msg);
                ownerMsg.appendChild(time);
                discussionBoard.appendChild(ownerMsg);
            }
        }
        rightSide.appendChild(discussionBoard);
        const fullscreen = document.createElement("div");
        fullscreen.classList.add("fullscreen");
        fullscreen.id = "fullscreen";
        const screen = document.createElement("i");
        screen.classList.add("fa-solid", "fa-expand");
        screen.id = "screen";
        fullscreen.appendChild(screen);
        rightSide.appendChild(fullscreen);

        const chatFormContainer = document.createElement("div");
        chatFormContainer.classList.add("chat-form-container");
        const chatForm = document.createElement("form");
        chatForm.action = "";
        chatForm.classList.add("chat-form-teacher");
        const textarea = document.createElement("textarea");
        textarea.placeholder = "Type your message here...";
        const button = document.createElement("button");
        button.type = "submit";
        const i = document.createElement("i");
        i.classList.add("fas", "fa-paper-plane");
        button.appendChild(i);
        chatForm.appendChild(textarea);
        chatForm.appendChild(button);

        const gradingBtn = document.createElement("div");
        gradingBtn.classList.add("grading-btn");
        const gradingButton = document.createElement("button");
        const gradingIcon = document.createElement("i");
        gradingIcon.classList.add("fas", "fa-marker");
        gradingButton.appendChild(gradingIcon);
        gradingBtn.appendChild(gradingButton);
        chatFormContainer.appendChild(chatForm);
        chatFormContainer.appendChild(gradingBtn);

        rightSide.appendChild(chatFormContainer);
        courseDiscussion.appendChild(rightSide);
    
    });

</script>
<script>
    document.querySelector("#fullscreen").addEventListener("click", function() {
        document.querySelector(".left-side").classList.toggle("hide");
        var icon = document.querySelector("#screen");
        if (icon.classList.contains("fa-expand")) {
            icon.classList.remove("fa-expand");
            icon.classList.add("fa-compress");
        } else {
            icon.classList.remove("fa-compress");
            icon.classList.add("fa-expand");
        }
    });
</script>
<script>
    document.querySelector(".grading-btn button").addEventListener("click", function() {
        document.querySelector(".grading-discussion").style.display = "block";
    });
</script>
<section class="new-form new-discussion-form">
    <div class="form-container">
        <form action = "teacher/course/<%=pCourse._id%>/discussion" method="POST" enctype="multipart/form-data">
            <div class="exit-btn" id="exit-discussion">
                <i class="fas fa-times"></i>
            </div>
            <script>
                document.querySelector("#exit-discussion").addEventListener("click", function() {
                    document.querySelector(".new-discussion-form").style.display = "none";
                });
            </script>
            <h2>Discussion Creation Form</h2>
            <label for="title">Title</label>
            <input type="text" name="title" id="" placeholder="Title of discussion (Ex: Discussion 1)" required>
            <label for="description">Topic</label>
            <input type="text" name="topic" id="" placeholder="Topic of discussion " required>
            <label for="description">Description</label>
            <textarea placeholder="Type the description here..."></textarea>
            <label for="file">File</label>
            <label for="file-upload-discussion" id="add-btn">Browse Local File</label>
            <input type="file" name="file" id="file-upload-discussion" multiple placeholder="Upload yourfile">
            <div class="display-file" id="display-file-discussion">
               <ul>
                <li>
                    <a href="">
                        <i></i>
                        <span></span>
                    </a>
                </li>
               </ul>
            </div>
            <script>
                document.getElementById("file-upload-discussion").addEventListener("change", function() {
                    var file = document.getElementById("file-upload-discussion").files;
                    var displayFile = document.querySelector("#display-file-discussion ul");
                    displayFile.innerHTML = "";
                    for (var i = 0; i < file.length; i++) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        var icon = document.createElement("i");
                        var span = document.createElement("span");
                        icon.classList.add("fas", "fa-file-pdf");
                        span.textContent = file[i].name;
                        a.appendChild(icon);
                        a.appendChild(span);
                        li.appendChild(a);
                        displayFile.appendChild(li);
                    }
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="reset-discussion">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <script>
                document.querySelector("#reset-discussion").addEventListener("click", function() {
                    document.querySelector("#display-file-discussion ul").innerHTML = "";
                });
            </script>
        </form>
    </div>
</section>
<section class="new-form grading-discussion">
    <div class="form-container">
        <form action="">
            <div class="exit-btn" id="exit-grading">
                <i class="fas fa-times"></i>
            </div>
            <script>
                document.querySelector("#exit-grading").addEventListener("click", function() {
                    document.querySelector(".grading-discussion").style.display = "none";
                });
            </script>
            <h2>Grading Form</h2>
            <label for="studentID">Student ID</label>
            <select name="studentID" id="id-selected">
                <option value="null">--Select Student ID--</option>
                <option value="ITITIU21284">ITITIU21284</option>
                <option value="ITITIU21285">ITITIU21285</option>
            </select>
            <script>
                document.querySelector("#id-selected").addEventListener("change", function() {
                    var id = document.querySelector("#id-selected").value;
                    document.querySelector("#" + id).style.display = "block";
                    document.querySelector(".students-info").style.display = "none";
                });
            </script>
            <table>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Discussion Contents</th>
                    <th>Grade</th>
                </tr>
            </table>
            <script>
                document.querySelector("#id-selected").addEventListener("change", function() {
                    
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <script>
                document.querySelector("#reset-grading").addEventListener("click", function() {
                    document.querySelector("#display-file-grading ul").innerHTML = "";
                });
            </script>
        </form>
    </div>
</section>
<script> 
    let pCourse = '<%- JSON.stringify(pCourse) %>';
    pCourse = JSON.parse(pCourse);
    // Get the form container and form
    const formContainer = document.querySelector('.form-container');
    const form = formContainer.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        const pCourseID = pCourse._id;
        const topic = form.querySelector('input[name="topic"]').value;
        const description = form.querySelector('textarea').value;
        const title = form.querySelector('input[name="title"]').value;
        const files = form.querySelector('input[type="file"]').files;
        const formData = new FormData(e.target);

        formData.append('description', description);
        formData.append('pCourseID', pCourseID);
        try {
            const res = await fetch(`/teacher/course/${pCourse._id}/discussion`, {
                method: 'POST',
                body: formData,
            });
            console.log(res);
            const data = await res.json();
            if(res.status >= 200 && res.status < 300) {
                location.reload();
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
crossorigin="anonymous"
></script>
 <script >
    const socket = io('/user');

    const formChatContainer = document.querySelector('.chat-form-teacher');
    const formChat = formChatContainer.querySelector('form');
    formChat.addEventListener('submit', async (e) => {
        e.preventDefault();
        const message = formChat.querySelector('textarea').value;
        const discussionID = discussionID;
        console.log(message);
        try {
            if(message) {
                socket.emit('message', message);
                // outputMessage(message);

                $.ajax( {
                    url: `/teacher/course/${pCourse._id}/discussion/saveChat`,
                    type: 'POST',
                    data: {
                        message: message,
                        discussionID: discussionID,
                    },
                    success: function(res) {
                        if(res.success) {
                            alert("done");
                        }
                        alert(data.message);
                    }
                });

                message.value = '';

            }

        } catch (error) {
            console.log(error);
        }
    });

    function outputMessage(message) {
        const div = document.createElement('div');
        div.classList.add('other-msg');
        div.innerHTML = `<div class="user-name">
                            <i class="fas fa-user-circle"></i>
                            <span>${teacher.name}</span>
                        </div>
                        <div class="msg">
                            <p>${message}</p>
                        </div>
                        <div class="time">
                            <span>${moment(data.dateTime).fromNow()}</span>
                        </div>`;
        document.querySelector('.discussion-board').appendChild(div);
    }



 </script>
<%- include('./partials/footer.ejs'); -%>