<%- include('./partials/header.ejs'); -%>

<section class="course-homework">
    <div class="header-menu-name">
        <h2>
            Grade
        </h2>
    </div>
    <div class="homework-listed">
        <ul>
            
        </ul>
    </div>
</section>
<script>
    let tasks = '<%- JSON.stringify(tasks).replace(/\\/g, "\\\\") %>';
    let progressingCourse = '<%- JSON.stringify(pCourse) %>';
    tasks = JSON.parse(tasks);
    progressingCourse = JSON.parse(progressingCourse);

    const homeworkListed = document.querySelector('.homework-listed ul');
    tasks.forEach(task => {
        const hID = task._id;
        const li = document.createElement('li');
        li.innerHTML = `
            <a href="/teacher/course/${progressingCourse._id}/homework/${hID}/grade" class="title-book">
                ${task.title}
            </a>
        `;
        homeworkListed.appendChild(li);
    });
</script>
<%- include('./partials/footer.ejs'); -%>