<%- include('./partials/header.ejs'); -%>
<section class="course-contact">
    <div class="header-menu-name">
        <h2>
            Students List
        </h2>
    </div>
    <div class="student-listed">
        <table>
            <tr>
                <th class="studentID">Student ID</th>
                <th class="studentName">Student Name</th>
                <th class="studentMail">Email</th>
            </tr>
            <tr>
                
            </tr>
        </table>
    </div>
</section>
<script>
    let students = '<%- JSON.stringify(students) %>';
    console.log(students);
    students = JSON.parse(students);
    const studentListed = document.querySelector('.student-listed table');
    students.forEach(student => {
        const tr = document.createElement('tr');
        tr.innerHTML = `
            <td class="studentID">${student.studentID}</td>
            <td class="studentName">${student.name}</td>
            <td class="studentMail">
                <a href="mailto:${student.email}">${student.email}</a>
            </td>
        `;
        studentListed.appendChild(tr);
    });
</script>
<!-- <script>
    let teacher = '<%- JSON.stringify(teacher) %>';
    teacher = JSON.parse(teacher);
    console.log(teacher);
    const contact = document.querySelector('.contact-listed');
    const contactList = contact.querySelector('ul');
    const li = document.createElement('li');
    const a = document.createElement('a');
    a.href = `mailto:${teacher.email}`;
    a.innerHTML = `<i class="fa-regular fa-envelope"></i><span>Name: ${teacher.name}</span><span>Email: ${teacher.email}</span>`;
    li.appendChild(a);
    contactList.appendChild(li);

</script> -->
<%- include('./partials/footer.ejs'); -%>