<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat Home Page</title>

    <%- include('../partials/main/header.ejs'); -%>
    <main id="main-in-grade">
        <div class="container">
            <div class="header-grade">
                <h2>Grade List</h2>
            </div>
            <div class="grade-list">
                <ul>
                    <li>
                        <div class="grade course-name">Course Name</div>
                        <div class="grade homework-title">
                            Homework 1
                        </div>
                        <div class="status">
                            Grade Completed
                        </div>
                        <a class="see-detail" href="">See detail</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
<%- include('../partials/main/footer.ejs'); -%>