<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Interface</title>

    <%- include ('../partials/main/header.ejs'); -%>

    <main>
        <div class="create-task">
            <form action="" method="POST">
                <h2>Create Homework Form</h2>
                <div class="form-group">
                    <label for="task-title">Homework Title</label>
                    <input type="text" id="task-title" name="task-title" required>
                    <label for=""></label>
                </div>
        </div>
    </main>
    <%- include ('../partials/main/footer.ejs'); -%>