<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<header>
    <nav class="admin-nav">
        <h1>Veducat for Admin</h1>
        <ul>
            <li><a href="/admin/manage_teacher">Manage Teacher</a></li>
            <li><a href="/admin/manage_student">Manage Student</a></li>
            <li><a href="/admin/manage_course">Manage Course</a></li>
            <li><a href="/admin/manage_progressing_course">Manage Progressing Course</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
</header>