<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header class="header">
        <div class="flex-header">
            <nav class="logoNUser">
                <a href="/" class="logo">Veducat</a>
                <span class="user">
                    <i class="fas fa-user-circle"></i>
                    <% if (user.role === 'student') { %>
                        <span><%= student.name %></span>
                    <% } else if (user.role === 'teacher') { %>
                        <span><%= teacher.name %></span>
                    <% } else if (user.role === 'admin') { %>
                        <span><%= user.userID %></span>
                    <% } %>                    
                </span>
            </nav>
            <nav class="navbar">
                <a href="/">Home</a>
                <% if (user.role === 'student') { %>
                <a href="/student/homework/task">Tasks</a>  <!-- /student/homwork/:id (đây là courseID) -->
                <% } else if (user.role === 'teacher') { %>
                <a href="/teacher/homework/task">Tasks</a>
                <% } %>
                <% if (user.role === 'student') { %>
                <a href="student/discussion">Discussion</a>
                <% } else if (user.role === 'teacher') { %>
                <a href="teacher/discussion">Discussion</a>
                <% } %>
                <a href="/logout">Logout</a>
                <div id="darkmode-btn" class="fas fa-moon"></div>
            </nav>
            <div id="span-btn" class="fas fa-bars"></div>
        </div>
    </header>