<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat Home Page</title>

    <%- include('../partials/main/header.ejs'); -%>
    <main id="main-in-announcement">
        <div class="container">
            <div class="header-announcement">
                <h2>Recent Announcements</h2>
            </div>
            <div class="announcement-list">
                <ul>
                    <li id="">
                        <p href="#">
                            Operating Systems_S1_2024-25-Group02
                        </p>
                        <div class="announcement-script">
                            Something for announcement
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <%- include('../partials/main/footer.ejs'); -%>