<%- include('partials/header.ejs'); -%>
<section class="homework-submission-complete">
    <div class="status-bar">
        <h3>You have been submitted the homework</h3>
    </div>
    <div class="submission-content">
        <div class="homework-writing">
            <h4>Your Writing Submission</h4>
            Hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel repudiandae praesentium minima eum ullam ducimus aliquam saepe, placeat, vero iure. Voluptatum ad porro deserunt dolorum magnam officia, necessitatibus exercitationem.
        </div>
        <div class="homework-file">
            <h4>Your File Submission </h4>
            <a href="#">Download</a>
        </div>
        <div class="submission-time">
            <h4>Submission Time</h4>
            <p>2025-09-01 12:00:00</p>
        </div>
        <div class="return-back">
            <a href="#">Another Homework</a>
        </div>
    </div>
</section>
<%- include('partials/footer.ejs'); -%>