<%- include('partials/header.ejs'); -%>
<section class="course-homework">
    <div class="header-menu-name">
        <h2>
            Homework
        </h2>
    </div>
    <div class="homework-listed">
        <ul>
            <!-- <li>
                <a href="#">
                    Homework 1: HTML
                    <span>
                        Deadline: 10/11/2024
                    </span>
                    <div class="homework-status x">
                        <i class="fa-solid fa-x"></i>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
</section>
<%- include('partials/footer.ejs'); -%>