<%- include('partials/header.ejs'); -%>
<section class="course-homework">
    <div class="header-menu-name">
        <h2>
            Homework
        </h2>
    </div>
    <div class="homework-listed">
        <ul>
        </ul>
    </div>
</section>

<script>
    let homeworks = '<%- JSON.stringify(homeworks).replace(/\\/g, "\\\\") %>';
    let progressingCourse = '<%- JSON.stringify(pCourse) %>';
    homeworks = JSON.parse(homeworks);
    console.log(homeworks);
    progressingCourse = JSON.parse(progressingCourse);

    const homeworkListed = document.querySelector('.homework-listed ul');

    homeworks.forEach(homework => {
        const hID = homework._id;
        const li = document.createElement('li');
        var status, link;
        if (homework.status === 'Submitted') {
            status = 'check'
            link = '/student/course/' + progressingCourse._id + '/homework/' + hID + '/submission'
        } else{
            status = ''
            link = '/student/course/' + progressingCourse._id + '/homework/' + hID
        }
        li.innerHTML = `
            <a href="${link}" class="title-book">
                ${homework.title}
                <span>
                    Deadline: ${new Date(homework.dueDate).toLocaleDateString()}
                </span>
                <div class="homework-status ${status}">
                    <i class="fa-solid fa-${status}"></i>
                </div>
            </a>
        `;
        homeworkListed.appendChild(li);
    });

    if (homeworks.length === 0) {
        const li = document.createElement('li');
        li.classList.add('empty-content');
        li.textContent = 'No homeworks yet';
        homeworkListed.appendChild(li);
    }
</script>

<%- include('partials/footer.ejs'); -%>