<%- include('partials/header.ejs'); -%>

<section class="course-graded">
    <div class="header-menu-name">
        <h2>
            Graded
        </h2>
    </div>
    <div class="graded-listed">
        <div class="header-grade">
            <h3>Graded List</h3>
        </div>
        <div class="table-grade">
            <table>
                <tr>
                    <th>Homework</th>
                    <th>Writing</th>
                    <th>File</th>
                    <th>Grade</th>
                    <th>Feedback</th>
                </tr>
                <tr>
                    <td>Homework 1</td>
                    <td>Write a program that reads a string from the user containing a date in the form mm/dd/yyyy. It should print the date in the form March 12, 2014.</td>
                    <td>
                        <a href="#">Homework1.pdf</a>
                    </td>
                    <td>100</td>
                    <td>
                        <a href="mailto:k@mail.com?subject=FEEDBACK ABOUT THE HOMEWORK 1 - COURSENAME
                        &body=Full Name: Ung Huynh Phuc - ID: ITITIU21284">Send Feedback</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs'); -%>