<%- include('../partials/header.ejs'); -%>

<div id="courseMenuPalette">
    <div id="courseMenuPalette_tittleHeading">
        <!-- tạm thời để dị -->
        <h4>Course: name <%=  %></h4> 
    </div>
    <ul id="courseMenuPalette_contents" class="courseMenu">
        <li><a href="#">Home Page</a></li>
        <li><a href="#">Material</a></li>
        <li><a href="#">Annoucement</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Homework</a></li>
        <li><a href="#">Discussion</a></li>
        <li><a href="#">My Grade</a></li>
    </ul>
</div>

<div id="courseDisplay">
    <div id="courseDisplay_tittleHeading">
        <h4>Course: name <%=  %></h4>
    </div>
    <div id="courseDisplay_contents">
        <div id="courseDisplay_contents_homePage">
            <h4>Home Page</h4>
            <p>Content of Home Page</p>
        </div>
        <div id="courseDisplay_contents_material">
            <h4>Material</h4>
            <p>Content of Material</p>
        </div>
        <div id="courseDisplay_contents_annoucement">
            <h4>Annoucement</h4>
            <p>Content of Annoucement</p>
        </div>
        <div id="courseDisplay_contents_contact">
            <h4>Contact</h4>
            <p>Content of Contact</p>
        </div>
        <div id="courseDisplay_contents_homework">
            <h4>Homework</h4>
            <p>Content of Homework</p>
        </div>
        <div id="courseDisplay_contents_discussion">
            <h4>Discussion</h4>
            <p>Content of Discussion</p>
        </div>
        <div id="courseDisplay_contents_myGrade">
            <h4>My Grade</h4>
            <p>Content of My Grade</p>
        </div>
    </div>
</div>

<%- include('../partials/footer'); -%>