<%- include('./partials/header.ejs'); -%>
<section class="course-announcement">
    <div class="header-menu-name">
        <h2>
            Announcement
        </h2>
    </div>
    <div class="announcement-listed">
        <ul>
        </ul>
    </div>
</section>

<script>
    // Announcements
    let announcements = '<%- JSON.stringify(announcements) %>';
    announcements = JSON.parse(announcements);
    // SORT ANNOUNCEMENTS BY DATE: newest to oldest
    announcements.sort((a, b) => new Date(b.sentAt).getTime() - new Date(a.sentAt).getTime());

    const announcementList = document.querySelector('.announcement-listed');
    const announcementUl = announcementList.querySelector('ul');

    announcements.forEach(announcement => {
        const li = document.createElement('li');
        const div = document.createElement('div');
        div.classList.add('announcement-container');
        const a = document.createElement('a');
        a.href = '#';
        a.textContent = `${announcement.title}`;
        const description = document.createElement('div');
        description.classList.add('description');
        const span = document.createElement('span');
        span.textContent = `${announcement.content}`;
        description.appendChild(span);
        div.appendChild(a);
        div.appendChild(description);
        li.appendChild(div);
        announcementUl.appendChild(li);
    });
</script>

<%- include('./partials/footer.ejs'); -%>