<%- include('partials/header.ejs'); -%>
<section class="course-homework">
    <div class="header-menu-name">
        <h2>
            Homework
        </h2>
    </div>
    <div class="homework-listed">
        <ul>
            <li>
                <a href="#">
                    Homework 1: HTML
                    <span>
                        Deadline: 10/11/2024
                    </span>
                    <div class="homework-status x">
                        <i class="fa-solid fa-x"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    Homework 2: CSS
                    <span>
                        Deadline: 15/11/2024
                    </span>
                    <div class="homework-status tick">
                        <i class="fa-solid fa-check"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    Homework 3: JavaScript
                    <span>
                        Deadline: 20/11/2024
                    </span>
                    <div class="homework-status"></div>
                </a>
            </li>
        </ul>
    </div>
</section>
<%- include('partials/footer.ejs'); -%>