<%- include('partials/header.ejs'); -%>

<section class="course-graded">
    <div class="header-menu-name">
        <h2>
            Graded
        </h2>
    </div>
    <div class="graded-listed">
        <div class="header-grade">
            <h3>Graded List</h3>
        </div>
        <div class="table-grade">
            <table>
                <tr>
                    <th>Homework</th>
                    <th>Writing</th>
                    <th>File</th>
                    <th>Grade</th>
                    <th>Feedback</th>
                </tr>
            </table>
        </div>
    </div>
</section>
<script>
    let submissions = '<%- JSON.stringify(submissions).replace(/\\/g, "\\\\") %>';
    submissions = JSON.parse(submissions);

    const gradedListed = document.querySelector('.graded-listed table');

    console.log(submissions);
    submissions.forEach(submission => {
        const sID = submission._id;
        const tr = document.createElement('tr');
        const homework = submission.taskName;
        const writing = submission.description;
        const attach = submission.files;
        const grade = submission.graded;
        const feedback = submission.feedback;
        const td1 = document.createElement('td');
        const td2 = document.createElement('td');
        const td3 = document.createElement('td');
        const td4 = document.createElement('td');
        const td5 = document.createElement('td');
        td1.textContent = homework;
        td2.textContent = writing;
        attach.forEach(file => {
            const div = document.createElement('div');
            div.classList.add('submission-file');
            const a = document.createElement('a');
            a.href = `\\..\\..\\${file.filePath}`;
            a.textContent = file.fileName;
            div.appendChild(a);
            td3.appendChild(div);
        });
        if (grade){
            td4.textContent = grade;
        } else {
            td4.textContent = 'Not Graded Yet';
        }
        const a = document.createElement('a');
        a.href = `mailto:${submission.taskID}?subject=FEEDBACK ABOUT THE HOMEWORK ${homework} - COURSENAME&body=Full Name: ${submission.studentName} - ID: ${submission.studentID}`;
        a.textContent = 'Send Feedback';
        td5.appendChild(a);
        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);
        tr.appendChild(td5);
        gradedListed.appendChild(tr);
    });
</script>

<%- include('partials/footer.ejs'); -%>