<%- include('partials/header.ejs'); -%>
<section class="homework-detail">
    <div class="homework-header">
        <h2 class="homework-title">Homework 1</h2>
    </div>
    <div class="homework-information">
        <div class="homework-description">
            <h3>Description</h3>
            <p>Write a program that reads a string from the user containing a date in the form mm/dd/yyyy. It should print the date in the form March 12, 2014.</p>
        </div>
        <div class="homework-due">
            <h3>Due Date</h3>
            <p>2025-09-30</p>
        </div>
        <div class="homework-attachment">
            <h3>Attachment</h3>
            <a href="#">Homework 1</a>
        </div>
    </div>
    <div class="homework-submission">
        <h3>Submission</h3>
        <form action="" method="post" class="homework-submission-form">
            <label for="writing-submission">Writing Submission</label>
            <textarea name="submission" id="writing-submission" cols="30" rows="10" placeholder="Writing the submission"></textarea>
            <label for="upload-submission">Upload Submission</label>
            <label for="upload-submission" class="upload-file">
                <i class="fas fa-upload"></i>
                Browse Local Files
            </label>
            <input type="file" name="submission" id="upload-submission" multiple>
            </label>
            <div class="display-file" id="display-file-homework">
                <ul>
                 <li>
                     <a href="">
                         <i></i>
                         <span></span>
                     </a>
                 </li>
                </ul>
             </div>
            <script>
                document.getElementById("upload-submission").addEventListener("change", function() {
                    var file = document.getElementById("upload-submission").files;
                    var displayFile = document.querySelector("#display-file-homework ul");
                    displayFile.innerHTML = "";
                    for (var i = 0; i < file.length; i++) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        var icon = document.createElement("i");
                        var span = document.createElement("span");
                        icon.classList.add("fas", "fa-file-pdf");
                        span.textContent = file[i].name;
                        a.appendChild(icon);
                        a.appendChild(span);
                        li.appendChild(a);
                        displayFile.appendChild(li);
                    }
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="reset-homework">
                    <i class="fas fa-rotate-left"></i>
                </button>
            </div>
            <script>
                const textArea = document.querySelector("#writing-submission");
                const uploadFile = document.querySelector("#upload-submission");
                if (textArea.value === "" && uploadFile.value === "") {
                    document.querySelector(".button-form button[type='submit']").onclick = function() {
                        alert("Please fill in the submission form.");
                        return false;
                    };
                    
                }
                document.querySelector("#reset-homework").addEventListener("click", function() {
                    document.querySelector("#display-file-homework ul").innerHTML = "";
                });
            </script>
        </form>
    </div>
</section>
<%- include('partials/footer.ejs'); -%>