<%- include('partials/header.ejs'); -%>
<section class="course-graded">
    <div class="header-menu-name">
        <h2>
            Graded
        </h2>
    </div>
    <div class="graded-listed">
        <ul>
            <li>
                <a href="#">
                    <div class="homework-name">
                        Homework 1: HTML
                    </div>
                    <div class="grade">
                        10/10
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="homework-name">
                        Homework 2: CSS
                    </div>
                    <div class="grade">
                        8/10
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="homework-name">
                        Homework 3: JavaScript
                    </div>
                    <div class="grade">
                        9/10
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="homework-name">
                        Homework 4: PHP
                    </div>
                    <div class="grade">
                        not graded
                    </div>
                </a>
            </li>
        </ul>
</section>
<%- include('partials/footer.ejs'); -%>