<%- include('partials/header.ejs'); -%>
<section class="course-announcement">
    <div class="header-menu-name">
        <h2>
            Announcement
        </h2>
    </div>
    <div class="announcement-listed">
        <ul>
            <li>
                <div class="announcement-container">
                    <a href="#">
                        System maintaining: New course has been added.
                    </a>
                    <div class="description">
                        <span>
                            Dear Students, we have added a new course to the system. Please check it out.
                            Best regards, Admin.
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <div class="announcement-container">
                    <a href="#">
                        No OS class on Fri & Sat, 15 & 16/11/2024
                    </a>
                    <div class="description">
                        <span>
                            Dear Students, there will be no Operating System class on Friday and Saturday, 15th and 16th of November, 2024.
                            Best regards, Instructor.
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <div class="announcement-container">
                    <a href="#">
                        New assignment for Computer Networks
                    </a>
                    <div class="description">
                        <span>
                            Dear Students, a new assignment has been uploaded for Computer Networks. Please check it out.
                            Best regards, Instructor.
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<%- include('partials/footer.ejs'); -%>