<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Interface</title>

    <%- include ('../partials/main/header.ejs'); -%>

    <main>
        <div class="discussion-container">
            <section class="course-discussions"> 
                <div class="left-side">
                    <div class="header-menu-name">
                        <h2>
                            Recent Discussion
                        </h2>
                    </div>
                    <div class="discussion-listed">
                        <ul>
                            <li>
                                <div class="discussion-name">
                                    <i class="fas fa-comments"></i>
                                    <span class="discussion-brief">Discussion 1</span>
                                    <div class="position" id="">
                                        In course 1
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Container -->
                <div class="right-side">
                    <div class="topic-header">
                        <div class="topic-info">
                            <i class="fas fa-comments"></i>
                            <p>Discussion 1: Something</p>
                        </div>
                    </div>
                    <div class="discussion-board">
                        <div class="other-msg">
                            <div class="user-name">
                                <i class="fas fa-user-circle"></i>
                                <span>Student 1</span>
                            </div>
                            <div class="msg">
                                <p>Hi, I have a question about the homework.</p>
                            </div>
                            <div class="time">
                                <span>10:00 AM</span>
                            </div>
                        </div>
                        <div class="owner-msg">
                            <div class="user-name">
                                <i class="fas fa-user-circle"></i>
                                <span>Teacher 1</span>
                            </div>
                            <div class="msg">
                                <p>What is your question?</p>
                            </div>
                            <div class="time">
                                <span>10:05 AM</span>
                            </div>
                        </div>
                        <div class="other-msg">
                            <div class="user-name">
                                <i class="fas fa-user-circle"></i>
                                <span>Student 1</span>
                            </div>
                            <div class="msg">
                                <p>How do I do this?</p>
                            </div>
                            <div class="time">
                                <span>10:10 AM</span>
                            </div>
                        </div>
                        <div class="owner-msg">
                            <div class="user-name">
                                <i class="fas fa-user-circle"></i>
                                <span>Teacher 1</span>
                            </div>
                            <div class="msg">
                                <p>Do this and that.</p>
                            </div>
                            <div class="time">
                                <span>10:15 AM</span>
                            </div>
                        </div>
                        <div class="other-msg">
                            <div class="user-name">
                                <i class="fas fa-user-circle"></i>
                                <span>Student 1</span>
                            </div>
                            <div class="msg">
                                <p>Thank you.</p>
                            </div>
                            <div class="time">
                                <span>10:20 AM</span>
                            </div>
                        </div>
                        <div class="other-msg">
                            <div class="user-name">
                                <i class="fas fa-user-circle"></i>
                                <span>Student 2</span>
                            </div>
                            <div class="msg">
                                <p>Hi, I have a question about the homework.</p>
                            </div>
                            <div class="time">
                                <span>10:00 AM</span>
                            </div>
                        </div>
                    </div>
                    <div class="chat-form">
                        <form action="" class="chat-form">
                            <textarea placeholder="Type your message here..."></textarea>
                            <button type="submit">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include ('../partials/main/footer.ejs'); -%>