<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat Home Page</title>

    <%- include('../partials/main/header.ejs'); -%>
    <main id="main-in-discussion">
        <div class="container">
            <div class="header-discussion">
                <h2>Recent Discussion</h2>
            </div>
            <div class="discussion-list">
                <ul>
                    <li>
                        <p>Discussion Title</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
<%- include('../partials/main/footer.ejs'); -%>