<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Interface</title>
    <%- include ('../partials/main/header.ejs'); -%>

    <main>
        <div class="homework-general">
            <div class="dropdown">
                <div class="button-menu" id="dropdown-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="dropdown-content">
                    <a href="#">
                        <i class="fas fa-check-circle"></i>
                        <span>Graded</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-bullhorn"></i>
                        <span>Ungraded</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-tasks"></i>
                        <span>Task</span>
                    </a>
                </div>
            </div>
            <div class="display-homework">
                
            </div>
        </div>
    </main>
    <%- include ('../partials/main/footer.ejs'); -%>