<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat Home Page</title>

    <%- include('../partials/main/header.ejs'); -%>
    <main class="content">
        <div class="first-row">
            <div class="search-bar">
                <input type="text" placeholder="Search Course">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="task-bar">
                <nav class="navbar">
                    <a href="#"><i class="fas fa-check-circle"></i><span>Graded</span></a>
                    <a href="/student/announcement"><i class="fas fa-bullhorn"></i><span>Announcements</span></a>
                    <a href="/student/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
                </nav>
            </div>
        </div>
        <div class="second-row">
            <section class="announcement-list">
                <div class="card">
                    <div class="card-header">
                        <h2>Announcement</h2>
                    </div>
                    <div class="card-content">
                        <ul>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="course-list">
                <div class="card">
                    <div class="card-header">
                        <h2>Course</h2>
                    </div>
                    <div class="card-content">
                        <ul>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script>
        // Announcements
        let announcements = '<%- JSON.stringify(announcements) %>';
        announcements = JSON.parse(announcements);
        // SORT ANNOUNCEMENTS BY DATE: newest to oldest
        announcements.sort((a, b) => new Date(b.sentAt).getTime() - new Date(a.sentAt).getTime());

        const announcementSection = document.querySelector('.announcement-list');
        const announcementUl = announcementSection.querySelector('ul');

        announcements.forEach(announcement => {
            console.log(announcement);
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.href = `/student/course/${announcement.courseID}/announcement`;
            a.textContent = `${announcement.courseName}: ${announcement.title}`;
            li.appendChild(a);
            announcementUl.appendChild(li);
        });
        
        // Courses
        let studentCourses = '<%- JSON.stringify(studentCourses) %>';
        studentCourses = JSON.parse(studentCourses);
        // SORT COURSES BY NAME: A-Z
        studentCourses.sort((a, b) => a.name.localeCompare(b.name));
        
        const courseSection = document.querySelector('.course-list');
        const courseUl = courseSection.querySelector('ul');
        
        studentCourses.forEach(course => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.href = `/student/course/${course._id}`;
            a.textContent = `Course: ${course.name}`;
            li.appendChild(a);
            courseUl.appendChild(li);
        });
    </script>
<%- include('../partials/main/footer.ejs'); -%>