<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat Home Page</title>

    <%- include('../partials/main/header.ejs'); -%>
    <div class="homework-container">
        <div class="header-menu-option">
            <h2 id="unsubmitted" class="active">Unsubmitted</h2>
            <h2 id="submitted">Submitted</h2>
        </div>
        
        <div class="homework-list-container">
            <section class="homework-unsubmitted selected" id="unsubmitted-list">
                <table>
                    <tr>
                        <th>Course Name</th>
                        <th>Homework Title</th>
                        <th>Due Date</th>
                        <th>Action</th>
                    </tr>
                </table>
            </section>
            <section class="homework-submitted" id="submitted-list">
                <table>
                    <tr>
                        <th>Course Name</th>
                        <th>Homework Title</th>
                        <th>Due Date</th>
                        <th>Submission</th>
                    </tr>
                </table>
            </section>
            <script>
                let unsubmitted = document.getElementById('unsubmitted');
                let submitted = document.getElementById('submitted');
                let unsubmittedList = document.getElementById('unsubmitted-list');
                let submittedList = document.getElementById('submitted-list');

                unsubmitted.onclick = () => {
                    unsubmitted.classList.add('active')
                    submitted.classList.remove('active')

                    unsubmittedList.classList.add('selected')
                    submittedList.classList.remove('selected')
                }

                submitted.onclick = () => {
                    unsubmitted.classList.remove('active')
                    submitted.classList.add('active')

                    unsubmittedList.classList.remove('selected')
                    submittedList.classList.add('selected')
                }
                
            </script>
        </div>
    </div>
    <script>
        let tasks = '<%- JSON.stringify(tasks).replace(/\\/g, "\\\\") %>';
            tasks = JSON.parse(tasks);
        const unsubmittedTable = document.querySelector('.homework-unsubmitted table');
        const submittedTable = document.querySelector('.homework-submitted table');
        tasks.forEach(task => {
            const cName = task.courseName;
            const hTitle = task.title;
            const hDeadline = new Date(task.dueDate).toLocaleDateString();
            const tr = document.createElement('tr');
            if (task.status === 'Submitted') {
                tr.innerHTML = `
                    <td>${cName}</td>
                    <td>${hTitle}</td>
                    <td>${hDeadline}</td>
                    <td><a href="/student/course/${task.pCourseID}/homework/${task._id}">View Submission</a></td>
                `;
                submittedTable.appendChild(tr);
            } else {
                tr.innerHTML = `
                    <td>${cName}</td>
                    <td>${hTitle}</td>
                    <td>${hDeadline}</td>
                    <td><a href="/student/course/${task.pCourseID}/homework/${task._id}">Do Homework</a></td>
                `;
                unsubmittedTable.appendChild(tr);
            }
        });
    </script>
    <%- include('../partials/main/footer.ejs'); -%>