<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert Announcement to Course API</title>

</head>
<body>
  <form class="form-insert-announcement" style="margin: 200px;">
    <table>
      <tr>
        <td>Announcement Title</td>
        <td><input type="text" name="announcement_title" id="announcement_title" required></td>
      </tr>
      <tr>
        <td>Announcement Content</td>
        <td><textarea name="announcement_content" id="announcement_content"></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" value="Insert"></td>
        <td><input type="reset" value="Reset"></td>
      </tr> 
      <tr>
        <td><a href="/teacher/course/'<%= course._id %>'/announcement">Go to List</a></td>
      </tr>
    </table>
  </form>

  <script>
    const form = document.querySelector('.form-insert-announcement');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const title = document.querySelector('#announcement_title').value;
      const content = document.querySelector('#announcement_content').value;

      // Parse the course object passed from the server-side
      const course = JSON.parse('<%- JSON.stringify(course) %>');
      const course_id = course._id;
      const recipents = course.students;
      const sender = course.teacherID;

      console.log(course._id);

      try {
        const res = await fetch(`/teacher/course/${course_id}/announcement`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ title, content, recipents, sender })
        });

        if (res.status >= 200 && res.status < 300) {
          console.log("Request successful", res.responseText);
          location.reload();
        }
      } catch (error) {
        console.error('Error:', error.message);
      }
    });

  </script>
</body>
</html>