/* Root */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --secondary-color: #fff2c9;
  --primary-color: #f89b28;
  --dark-mode-color: #333;
  --white-color: #f9f9f9;
  --dark-mode-color-body: #444;
  --black-color: #000;
  --href-color: #ff8c00;
  --red-color: #f13f3f;
  --green-color: #10a810; }

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  transition: background-color 0.3s, color 0.5s;
  padding-top: 60px;
  /* Adjust this value based on the height of your header */
  background-image: url(/img/background.svg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem; }

a {
  text-decoration: none;
  color: var(--href-color);
  font-weight: bold; }

ul li p {
  text-decoration: none;
  color: var(--href-color);
  font-weight: bold; }

.fa-file-pdf {
  color: var(--red-color);
  padding-right: 1rem; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
  border-bottom: solid 0.1rem var(--primary-color); }

.header .flex-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-header {
  margin: 0 auto;
  padding: 2rem; }

.header .flex-header .logo {
  color: var(--primary-color);
  font-size: 2.5rem;
  text-decoration: none; }

.logoNUser {
  display: block;
  align-items: center; }

.dark .logoNUser .user {
  color: var(--white-color); }

.logoNUser .user {
  margin-left: 2rem;
  color: var(--dark-mode-color);
  font-size: 2rem;
  font-weight: bold; }

.header .flex-header .navbar a {
  margin-left: 2rem;
  color: var(--dark-mode-color);
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold; }

#darkmode-btn {
  cursor: pointer;
  margin-left: 2rem;
  color: var(--primary-color);
  font-size: 3.5rem;
  transition: 0.2s linear; }

#darkmode-btn.fa-sun {
  transform: rotate(180deg);
  transition: 0.3s linear; }

.fa-angles-right {
  transform: rotateX(-180deg);
  transition: transform 0.3s linear; }

.fa-angles-left {
  transform: rotateY(180deg);
  transition: transform 0.3s linear; }

#icon {
  transition: transform 0.3s linear; }

.dark {
  background-color: var(--dark-mode-color); }

.dark .header .flex-header .navbar a {
  color: var(--secondary-color); }

.header .flex-header .navbar a:hover {
  color: var(--primary-color); }

#span-btn {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 2.5rem;
  display: none; }

.first-row, .second-row {
  width: 100%;
  display: flex;
  padding: 2rem 0; }

.first-row .search-bar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }

.first-row .search-bar input {
  width: 70%;
  padding: 1rem;
  font-size: 2rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 12px;
  outline: none; }

.first-row .search-bar button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-left: 1rem;
  cursor: pointer; }

.first-row .task-bar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 2rem; }

.first-row .task-bar .navbar {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 12px;
  background-color: var(--primary-color); }

.first-row .task-bar .navbar a {
  color: var(--dark-mode-color);
  margin: 0 1rem;
  text-decoration: none;
  flex-direction: column;
  display: flex;
  text-align: center; }

.first-row .task-bar .navbar a:hover {
  color: var(--white-color); }

.second-row .announcement-list, .course-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem; }

.second-row .card {
  width: 80%;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  background-color: var(--secondary-color); }

.second-row .card .card-header {
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem; }

.hide-card {
  display: none; }

.second-row .card .card-content {
  padding-right: 2rem; }

.card-content ul {
  list-style: none;
  padding-left: 2rem; }

.card-content ul li {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem var(--primary-color); }

.card-content.hide-card {
  opacity: 0; }

.see-more {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  padding-right: 2rem;
  color: var(--primary-color); }

.see-more:hover {
  text-decoration: underline;
  transform: translateX(1rem); }

#main-in-course, #main-in-announcement, #main-in-discussion, #main-in-grade {
  display: flex; }

#main-in-course .display-area {
  width: 100%;
  min-width: calc(100% - 10% - 28rem - 2rem);
  max-width: calc(100% -10% - 20rem - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem; }

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0.1rem var(--primary-color);
  width: 100px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
  height: calc(6 * 60px + 6 * 3rem + 40px + 4rem); }

.dropdown.hide {
  width: 2%;
  margin: 0;
  transition: width 0.3s ease;
  height: calc(6 * 60px + 6 * 3rem + 40px + 4rem); }

.dropdown .button-menu {
  width: 60px;
  height: 40px;
  margin: 2rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 2rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer; }

.dropdown .button-menu i {
  font-size: 3rem;
  padding: 1rem; }

.dropdown .dropdown-content {
  display: block;
  max-height: 400px;
  transition: max-height 0.4s ease; }

.dropdown .dropdown-content.hide {
  display: none;
  max-height: 0;
  transition: max-height 0.4s ease; }

.dropdown .dropdown-content a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 5rem 0;
  font-size: 2rem;
  color: var(--black-color);
  border: solid 0.1rem var(--primary-color);
  border-radius: 2rem;
  transition: background-color 0.5s ease; }

.dropdown.in-course .dropdown-content a {
  margin: 2rem 0; }

.dropdown .dropdown-content a:hover, .dropdown .button-menu:hover {
  transition: background-color 0.3s ease;
  box-shadow: 0 0.5rem 1rem 0.1rem var(--primary-color); }

.dropdown .dropdown-content span {
  display: none;
  position: absolute;
  left: 8rem;
  top: 2rem;
  z-index: 1000;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0 1rem;
  border-radius: 2rem;
  color: var(--black-color);
  transition: background-color 0.3s ease; }

.dropdown .dropdown-content a:hover span {
  display: flex;
  transition: background-color 0.3s ease; }

.course-name {
  margin: 2rem;
  font-size: 1.5rem; }

.display-area .course-announcement, .course-material, .course-contact, .course-homework, .course-discussion, .course-discussions, .homework-detail, .material-detail, .course-graded {
  display: none;
  position: relative;
  width: 100%;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 0.5rem 1rem 0.1rem var(--primary-color); }

.display-area .course-announcement, .course-material, .course-contact, .course-homework, .course-graded, .homework-detail, .material-detail {
  display: block; }

.display-area .course-discussion {
  display: flex; }

.display-area .header-menu-name {
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0; }

.announcement-listed ul {
  list-style: none;
  padding: 0 2rem;
  padding-bottom: 1rem; }

.announcement-listed ul li {
  margin: 1rem 0;
  padding-bottom: 1rem; }

.announcement-listed ul li .announcement-container {
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  padding: 1rem; }

.announcement-listed ul li a:hover {
  text-decoration: underline; }

.course-material ul, .course-contact ul, .course-homework ul {
  list-style: none;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.course-material ul li, .course-contact ul li, .course-homework ul li {
  margin: 1rem 0;
  padding: 0 3rem;
  text-align: center;
  flex: 1 1 100; }

.course-material ul li a, .course-homework ul li a {
  display: block;
  padding: auto 1rem;
  width: 115px;
  height: 130px;
  align-content: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--black-color);
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease; }

.course-homework ul li a p {
  padding: 1rem; }

.create-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  margin: 1rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: solid 0.1rem var(--white-color);
  border-radius: 1rem;
  color: var(--white-color);
  transition: all 0.3s ease; }

.create-btn:hover {
  color: var(--green-color);
  background-color: var(--white-color);
  border: solid 0.1rem var(--white-color);
  transition: all 0.3s ease; }

.course-material ul li a:hover, .course-homework ul li a:hover, .course-material ul li .create-header-material:hover {
  background-color: var(--primary-color); }

.new-form {
  display: none;
  position: relative;
  width: 100%;
  height: 100%; }

.new-form.show {
  display: block; }

.new-form .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.exit-btn {
  position: absolute;
  border: solid 0.1rem var(--red-color);
  border-radius: 1rem;
  padding: 0 1rem;
  color: var(--red-color);
  top: 2rem;
  right: 3rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease; }

.exit-btn:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  transition: all 0.3s ease; }

.new-form .form-container form {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--primary-color);
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--secondary-color); }

.new-form .form-container form h2 {
  text-align: center;
  font-size: 2rem;
  border-bottom: solid 0.1rem var(--primary-color);
  padding-bottom: 2rem; }

.new-form .form-container form input[type="text"] {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline-color: var(--primary-color); }

.new-form .form-container form input[type="datetime-local"] {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline-color: var(--primary-color); }

.new-form .form-container form input[type="file"] {
  display: none; }

.new-form .form-container form #add-btn {
  display: flex;
  width: calc(90% - 1rem);
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 12px;
  outline-color: var(--primary-color);
  cursor: pointer; }

.new-form .form-container form #add-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color); }

.display-file ul {
  list-style: none;
  padding: 1rem;
  margin: 1rem; }

.display-file ul li {
  display: flex;
  justify-content: space-between;
  padding: 1rem; }

.display-file ul li a i {
  font-size: 2rem;
  color: var(--red-color);
  cursor: pointer;
  padding-right: 1rem; }

.new-form .form-container form textarea {
  display: flex;
  width: 90%;
  height: 10rem;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline-color: var(--primary-color);
  resize: none; }

.new-form .form-container form label {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold; }

.button-form {
  display: flex;
  justify-content: space-around; }

.button-form button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 1rem 2rem;
  cursor: pointer; }

.button-form button:hover {
  background-color: var(--white-color);
  transform: scale(1.1); }

.button-form button[type="submit"]:hover {
  border: solid 0.1rem var(--green-color);
  color: var(--green-color); }

.button-form button[type="reset"]:hover {
  border: solid 0.1rem var(--red-color);
  color: var(--red-color); }

.course-contact ul li a {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
  color: var(--black-color); }

.course-contact ul li a i {
  font-size: 5rem;
  padding-bottom: 1rem; }

.course-contact ul li a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 1rem; }

.student-listed {
  display: flex;
  position: relative;
  width: 100%;
  margin: 2rem auto;
  align-items: center;
  justify-content: center; }

.student-listed table, .student-listed tr {
  border: solid 0.1rem var(--primary-color);
  border-collapse: separate; }

.student-listed table {
  width: 80%;
  border-radius: 2rem; }

.student-listed th, .student-listed td {
  padding: 1rem;
  border-left: solid 0.1rem var(--primary-color);
  border-top: solid 0.1rem var(--primary-color); }

.student-listed th.studentID, .student-listed td.studentID {
  text-align: center;
  width: 20%; }

.student-listed th.studentName, .student-listed td.studentName {
  text-align: center;
  width: 30%; }

.student-listed th.studentMail, .student-listed td.studentMail {
  text-align: center;
  width: 50%; }

.student-listed th {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none; }

.student-listed th:first-child, .student-listed td:first-child {
  border-left: none; }

.student-listed th:first-child {
  border-radius: 1.8rem 0 0 0; }

.student-listed th:last-child {
  border-radius: 0 1.8rem 0 0; }

.course-homework ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--black-color); }

.course-homework ul li a span {
  padding-top: 1rem;
  border-top: solid 0.1rem var(--primary-color); }

.homework-status {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  border: solid 0.1rem var(--black-color); }

.homework-status.x {
  color: var(--red-color); }

.homework-status .fa-check {
  color: var(--green-color); }

.course-discussion, .course-discussions {
  position: relative;
  width: 100%;
  height: calc(100vh - 12rem); }

.left-side {
  position: relative;
  flex: 30%;
  border-right: solid 0.1rem var(--primary-color); }

.left-side.hide {
  display: none; }

.left-side .header-menu-name {
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem 0 0 0; }

.right-side.hide {
  display: none; }

.right-side {
  position: relative;
  flex: 70%;
  background-color: var(--secondary-color); }

.course-discussion .right-side::before, .course-discussions .right-side::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.course-discussion .discussion-listed, .course-discussions .discussion-listed {
  position: relative;
  height: calc(100% - 7rem);
  overflow-y: auto;
  scrollbar-color: var(--primary-color) var(--secondary-color);
  scrollbar-width: thin; }

.course-discussion .discussion-listed ul, .course-discussions .discussion-listed ul {
  list-style: none;
  padding: 1rem 0; }

.course-discussion .discussion-listed ul li, .course-discussions .discussion-listed ul li {
  width: 100%;
  height: 6rem;
  color: var(--primary-color);
  display: block;
  font-weight: bold; }

.course-discussion .discussion-listed ul li:hover, .course-discussions .discussion-listed ul li:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 1rem;
  cursor: pointer; }

.course-discussion .discussion-listed ul li:hover a {
  color: var(--secondary-color); }

.course-discussion .discussion-listed ul li .discussion-name, .course-discussions .discussion-listed ul li .discussion-name {
  align-items: center;
  padding: 1rem; }

.discussion-name .position {
  font-weight: lighter; }

.discussion-item {
  transition: all 0.3s ease-in-out; }

.discussion-item:hover {
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out; }

.discussion-item:hover .discussion-name {
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out; }

.course-discussion .topic-header, .course-discussions .topic-header {
  width: 100%;
  height: 6rem;
  border-bottom: solid 0.1rem var(--primary-color); }

.course-discussion .topic-header .topic-info, .course-discussions .topic-header .topic-info {
  margin: 0.5rem 1rem;
  display: flex;
  border: solid 0.1rem var(--primary-color);
  border-radius: 2rem;
  align-items: center; }

.topic-header .topic-info i, .topic-header .topic-info span {
  font-size: 2rem;
  margin: 0.5rem; }

.right-side .chat-form-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 7rem;
  border-top: solid 0.1rem var(--primary-color); }

.right-side .chat-form-container form {
  display: flex;
  width: calc(100% - 10rem);
  height: 100%; }

.chat-form-teacher textarea {
  width: 100%;
  height: 3.5rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline: none;
  resize: none; }

.chat-form-teacher button, .chat-form-container .grading-btn button {
  width: 6rem;
  height: 5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 1rem;
  cursor: pointer; }

.chat-form-teacher button:hover {
  background-color: var(--white-color);
  color: var(--primary-color); }

.right-side .chat-form {
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  border-top: solid 0.1rem var(--primary-color); }

.chat-form textarea {
  width: 80%;
  resize: none;
  height: 4.5rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  word-wrap: break-word;
  outline: none; }

.chat-form button {
  width: 30%;
  bottom: 1.5rem;
  width: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-left: 1rem;
  cursor: pointer; }

.grading-btn button:hover {
  background-color: var(--white-color);
  color: var(--green-color); }

.chat-form-container .grading-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 100%; }

.discussion-board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  height: calc(100% - 6.5rem - 7rem - 1rem);
  overflow-y: auto;
  scrollbar-color: var(--primary-color) var(--secondary-color);
  scrollbar-width: thin; }

.discussion-board .other-msg {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 1rem;
  margin: 1rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  background-color: var(--secondary-color);
  word-wrap: break-word; }

.discussion-board .owner-msg {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 1rem;
  margin: 1rem;
  align-self: flex-end;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  word-wrap: break-word; }

.fullscreen {
  position: absolute;
  right: 3rem;
  bottom: calc(7rem + 1rem);
  z-index: 1000;
  padding: 0.5rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 50%;
  background-color: var(--white-color); }

.fullscreen:hover {
  transform: scale(1.2); }

.discussion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem; }

.grading-discussion select {
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline: none; }

.grading-discussion table, .grading-discussion th, .grading-discussion td {
  border: 0.2rem solid var(--primary-color);
  border-collapse: collapse;
  padding: 1rem; }

.course-discussions {
  display: flex; }

.course-graded .header-grade {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 2rem; }

.course-graded .table-grade {
  padding: 1.5rem; }

.table-grade table, .table-grade th, .table-grade td {
  border: 0.2rem solid var(--primary-color);
  border-collapse: collapse;
  padding: 1rem; }

.homework-genneral {
  display: flex;
  position: relative;
  width: 100%; }

.new-announcement {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem; }

.new-announcement .form-header-announcement h2:hover {
  cursor: pointer; }

.new-announcement h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem; }

.new-announcement .form-create-announcement {
  display: flex;
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  width: 100%; }

.new-announcement .form-create-announcement.show {
  max-height: 100%; }

.new-announcement .form-create-announcement form {
  margin: 2rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--primary-color);
  border-radius: 0 0 1rem 1rem; }

.new-announcement form input {
  width: 90%;
  padding: 1rem;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline: none; }

.new-announcement form textarea {
  width: 90%;
  height: 10rem;
  padding: 1rem;
  margin: 0 2rem 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline: none;
  resize: none; }

.new-announcement form label {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold; }

.new-announcement button {
  width: 10%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 1rem 2rem;
  cursor: pointer; }

.header-menu-name.teacher-dcs {
  display: flex;
  padding-right: 1rem;
  align-items: center;
  justify-content: center; }

.header-menu-name.teacher-dcs h2 {
  width: calc(100% - 1rem); }

.header-menu-name.teacher-dcs i {
  width: 1rem;
  padding: 1rem;
  font-size: 2rem;
  margin: 0 auto;
  color: var(--white-color);
  cursor: pointer; }

.header-menu-name.teacher-dcs i:hover {
  color: var(--green-color);
  transition: color 0.3s ease; }

.homework-submission-form {
  width: 70%;
  display: flex;
  flex-direction: column; }

.homework-submission-form label {
  font-size: 1.5rem;
  font-weight: bold; }

.homework-submission-form textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 12px;
  outline-color: var(--primary-color);
  resize: none; }

.homework-submission-form input[type="file"] {
  display: none; }

.homework-submission-form label.upload-file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 12px;
  cursor: pointer; }

.homework-submission-form label.upload-file i {
  font-size: 2rem;
  padding-right: 1rem; }

.homework-submission-form label.upload-file:hover {
  background-color: var(--primary-color);
  color: var(--white-color); }

.homework-title, .material-title {
  width: calc(100% - 4rem);
  padding: 2rem;
  padding-top: 0;
  border-bottom: solid 0.1rem var(--primary-color); }

.homework-information {
  padding: 2rem;
  padding-top: 0;
  width: calc(100% - 4rem);
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem var(--primary-color); }

.homework-submission {
  padding: 2rem;
  padding-top: 0;
  width: calc(100% - 1rem);
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem var(--primary-color); }

.material-contents {
  padding: 2rem;
  padding-top: 0;
  width: calc(100% - 4rem);
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem var(--primary-color); }

.material-contents i {
  font-size: 1.5rem;
  padding-right: 1rem;
  color: var(--red-color); }

.material-contents .material-file {
  padding: 1rem 0; }

#main-in-announcement, #main-in-discussion, #main-in-grade {
  display: flex;
  width: 100%; }

#main-in-announcement .container, #main-in-discussion .container, #main-in-grade .container {
  padding: 2rem;
  padding-top: 0;
  margin: 2rem auto;
  margin-top: 3rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1.2rem;
  background-color: var(--secondary-color); }

#main-in-announcement .container .header-announcement, #main-in-discussion .container .header-discussion, #main-in-grade .container .header-grade {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 0 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem 1rem 0 0;
  padding: 0 2rem; }

#main-in-announcement .container .announcement-list, #main-in-discussion .container .discussion-list, #main-in-grade .container .grade-list {
  width: 100%;
  display: block;
  font-size: 1.5rem; }

#main-in-announcement .container .announcement-list ul, #main-in-discussion .container .discussion-list ul, #main-in-grade .container .grade-list ul {
  list-style: none;
  padding: 1rem; }

#main-in-announcement .container .announcement-list ul li, #main-in-discussion .container .discussion-list ul li, #main-in-grade .container .grade-list ul li {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem; }

#main-in-announcement .container .announcement-list ul li .announcement-script {
  text-decoration: none;
  color: var(--black-color); }

.bar-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem; }

.bar-menu i {
  padding: 1rem;
  cursor: pointer; }

.bar-menu i:hover {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--white-color);
  border-radius: 1rem; }

.bar-menu .dropdown-content.show {
  display: block; }

.bar-menu .dropdown-content {
  display: none;
  position: absolute;
  top: 4rem;
  right: calc(0.5rem);
  width: 8rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  background-color: var(--white-color);
  z-index: 1000; }

.bar-menu .edit-button, .bar-menu .delete-button {
  padding: 0.5rem 1rem;
  font-weight: 500; }

.bar-menu .edit-button {
  border-bottom: solid 0.1rem var(--primary-color); }

.bar-menu .edit-button:hover {
  background-color: var(--primary-color);
  border-radius: 0.8rem 0.8rem 0 0;
  color: var(--white-color);
  cursor: pointer; }

.bar-menu .delete-button:hover {
  background-color: var(--red-color);
  border-radius: 0 0 0.8rem 0.8rem;
  color: var(--white-color);
  cursor: pointer; }

.student-submission-list {
  padding: 1rem; }

.student-submission-list table {
  width: 100%; }

.student-submission-list table, .student-submission-list th, .student-submission-list td {
  border: 0.2rem solid var(--primary-color);
  border-collapse: collapse;
  padding: 1rem; }

.student-submission-list th {
  background-color: var(--primary-color);
  color: var(--white-color); }

.student-submission-list .grading input[type="number"], .grading-discussion input[type="number"] {
  outline-color: var(--primary-color);
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  color: var(--red-color);
  font-weight: bold;
  text-align: right;
  width: 5rem;
  height: 5rem; }

td.id {
  width: 10rem;
  text-align: center;
  max-width: 10rem;
  overflow: hidden;
  word-wrap: break-word; }

td.fullname {
  width: 15rem;
  text-align: center;
  max-width: 20rem;
  overflow: hidden;
  word-wrap: break-word; }

th.writing, td.writing {
  width: calc(100% - 50rem); }

td.attach {
  width: 10rem;
  text-align: center;
  max-width: 10rem;
  overflow: hidden;
  word-wrap: break-word; }

td.time-submission {
  width: 10rem;
  text-align: center;
  max-width: 10rem;
  overflow: hidden;
  word-wrap: break-word; }

td.grading {
  width: 8rem;
  text-align: center;
  max-width: 10rem; }

.homework-container {
  display: flex;
  flex-direction: column;
  margin: 2rem; }

.homework-container .header-menu-option {
  display: flex;
  width: 100%; }

.header-menu-option h2 {
  width: calc(100% / 2);
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  border-right: solid 0.1rem var(--secondary-color);
  background-color: var(--primary-color); }

.header-menu-option:last-child h2 {
  border-right: none; }

.header-menu-option h2:hover {
  cursor: pointer; }

.header-menu-option h2.active {
  background-color: var(--white-color);
  border: solid 0.1rem var(--primary-color);
  transform: scale(1.05);
  color: var(--primary-color); }

.header-menu-option :first-child {
  border-radius: 1rem 0 0 0; }

.header-menu-option :last-child {
  border-radius: 0 1rem 0 0; }

.homework-list-container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color); }

.homework-unsubmitted, .homework-submitted {
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem; }

.homework-unsubmitted table, .homework-submitted table {
  width: 100%;
  border-collapse: collapse; }

.homework-unsubmitted th, .homework-unsubmitted td, .homework-submitted th, .homework-submitted td {
  border: solid 0.1rem var(--primary-color);
  padding: 1rem;
  width: calc(100% / 4);
  border-collapse: collapse; }

.homework-unsubmitted table tr, .homework-submitted table tr {
  width: 100%; }

.homework-unsubmitted.selected, .homework-submitted.selected {
  display: block; }

.admin-announcement {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem; }

.admin-announcement .announcements-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2rem auto;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  background-color: var(--secondary-color); }

.announcements-container .header-menu-name {
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0; }

.announcements-container .announcement-listed {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem; }

.announcements-container .announcement-listed ul {
  list-style: none;
  padding: 1rem; }

.announcements-container p, .announcements-container .description {
  margin: 1rem 0;
  padding: 1rem; }

.profile-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem; }

.profile-container .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1rem var(--primary-color); }

.profile-container .profile .profile-header {
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 0.8rem 0.8rem 0 0; }

.profile-container .profile .profile-content {
  margin: 2rem;
  padding: 1rem;
  border: solid 0.3rem var(--red-color);
  border-radius: 1rem; }

.profile-container .profile .profile-content .label {
  font-weight: bold; }

.profile-container .profile .profile-content .profile-detail .items {
  padding: 1rem;
  border: solid 0.2rem var(--red-color);
  border-radius: 1rem;
  margin: 1rem; }

.announcement-item {
  position: relative; }

.announcement-date {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold; }

.empty-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  color: var(--black-color); }

.homework-container {
  display: flex;
  flex-direction: column;
  margin: 2rem; }

.content-list .new-homework-form {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.content-list .new-homework-form .form-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.content-list .new-homework-form .form-container form {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--primary-color);
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--secondary-color); }

.content-list .new-homework-form .form-container form h2 {
  text-align: center;
  font-size: 2rem;
  border-bottom: solid 0.1rem var(--primary-color);
  padding-bottom: 2rem; }

.content-list .new-homework-form .form-container form input[type="text"] {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline-color: var(--primary-color); }

.content-list .new-homework-form .form-container form select {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline-color: var(--primary-color); }

.content-list .new-homework-form .form-container form input[type="datetime-local"] {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline-color: var(--primary-color); }

.content-list .new-homework-form .form-container form input[type="file"] {
  display: none; }

.content-list .new-homework-form .form-container form #add-btn {
  display: flex;
  width: calc(90% - 1rem);
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 12px;
  outline-color: var(--primary-color);
  cursor: pointer; }

.content-list .new-homework-form .form-container form #add-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color); }

.content-list .new-homework-form .form-container form textarea {
  display: flex;
  width: 90%;
  height: 10rem;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  outline-color: var(--primary-color);
  resize: none; }

.content-list .new-homework-form .form-container form label {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold; }

.grade.course-name, .average-grade, .grade.homework-title, .status {
  padding: 1rem;
  margin: 0;
  font-size: 2rem;
  font-weight: bold; }

.grade.course-name {
  color: var(--primary-color); }

.see-detail {
  padding: 0.5rem 1rem; }

.see-detail:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer; }

.status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem; }

.submission-content {
  width: 50rem;
  background-color: var(--secondary-color);
  padding: 1rem;
  border: solid 0.1rem var(--primary-color);
  border-radius: 1rem; }

.return-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; }

.return-back a {
  text-decoration: none;
  color: var(--white-color);
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  padding: 1 auto;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem; }

.return-back a:hover {
  transition: all 0.3s ease;
  background-color: var(--white-color);
  color: var(--primary-color);
  border-radius: 1rem;
  border: solid 0.1rem var(--primary-color);
  cursor: pointer; }

td#table-discussion {
  white-space: pre-wrap; }

.discussion-ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem; }

.discussion-ul li a {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
  color: var(--primary-color); }

.discussion-ul li:hover a {
  color: var(--white-color);
  border-radius: 1rem; }

i {
  padding: 1rem; }

@media (max-width: 1080px) {
  html {
    font-size: 55%; } }

@media (max-width: 768px) {
  html {
    font-size: 52%; }
  #span-btn {
    display: inline-block;
    transition: 0.2s linear; }
  #span-btn.fa-times {
    transform: rotate(180deg);
    transition: 0.2s linear; }
  .header .flex-header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid var(--primary-color);
    border-bottom: 0.1rem solid var(--primary-color);
    background-color: var(--secondary-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
  .dark .header .flex-header .navbar {
    background-color: var(--dark-mode-color-body); }
  .header .flex-header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.3s ease-in-out; }
  .header .flex-header .navbar a {
    display: block;
    padding: 1rem 2rem;
    text-align: center; }
  #darkmode-btn {
    padding: 1rem 2rem;
    text-align: center;
    display: block; }
  .first-row, .second-row {
    flex-direction: column; }
  .first-row .search-bar, .first-row .task-bar {
    width: 100%; }
  .second-row .announcement-list, .second-row .course-list {
    width: 100%;
    margin-bottom: 3rem; }
  .dropdown {
    transition: width 0.3s ease; }
  .dropdown.hide {
    width: 2%;
    margin: 2rem 0;
    height: 480px;
    transition: width 0.3s ease; }
  .dropdown.hide .button-menu {
    margin: 0;
    width: 100%;
    height: 100%;
    border: none; }
  .dropdown.hide .button-menu i {
    display: none; } }

@media (max-width: 450px) {
  html {
    font-size: 50%; } }
