<%- include('partials/login/header'); -%>

<form id="form-signup" action="/signup" style="margin: 100px;">
    <h2>Sign up</h2>
    <label for="userID">User ID</label>
    <input type="text" name="userID" required>
    <div class="userID error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <button>Sign Up</button>
</form>

<%- include('partials/login/footer'); -%>

<script>
    const form = document.querySelector('#form-signup');
    const userIDError = document.querySelector('.userID.error')
    const passwordError = document.querySelector('.password.error')

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset error message
        userIDError.textContent = ''
        passwordError.textContent = ''

        // get values
        const userID = form.userID.value;
        const password = form.password.value;

        // click submit to send POST request
        try {
            // fetch -> JavaScript interface for making HTTP requests and processing the responses.
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ userID, password }),
                headers: {'Content-Type': 'application/json'}
            })
            const data = await res.json();
            if (data.errors) { // errors are set in AuthNController.handleErrors
                userIDError.textContent = data.errors.userID
                passwordError.textContent = data.errors.password
                console.log(userIDError, passwordError)
            }
            if (data.user) {
                location.assign('/')
            }
        } catch (err) {
            console.log(err);
            console.log(userIDError, passwordError)
        }
    })
</script>
