@media (max-width: 1080px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){
    html{
        font-size: 52%;
    }
    #span-btn{
        display: inline-block;
        transition: 0.2s linear;
    }
    #span-btn.fa-times{
        transform: rotate(180deg);
        transition: 0.2s linear;
    }
    .header .flex-header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        border-top: 0.1rem solid var(--primary-color);
        border-bottom: 0.1rem solid var(--primary-color);
        background-color: var(--secondary-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .dark .header .flex-header .navbar{
        background-color: var(--dark-mode-color-body);
    }
    .header .flex-header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: clip-path 0.3s ease-in-out;
    }
    .header .flex-header .navbar a{
        display: block;
        padding: 1rem 2rem;
        text-align: center;
    }
    #darkmode-btn{
        padding: 1rem 2rem;
        text-align: center;
        display: block;
    }
    .first-row, .second-row{
        flex-direction: column;
    }
    .first-row .search-bar, .first-row .task-bar{
        width: 100%;
    }
    .second-row .announcement-list, .second-row .course-list{
        width: 100%;
        margin-bottom: 3rem;
    }
    .dropdown{
        transition: width 0.3s ease;
    }
    .dropdown.hide{
        width: 2%;
        margin: 2rem 0;
        height: 480px;
        transition: width 0.3s ease;
    }
    .dropdown.hide .button-menu{
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
    .dropdown.hide .button-menu i{
        display: none;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}