@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
    --secondary-color: #fff2c9;
    --primary-color: #f89b28;
    --dark-mode-color: #333;
    --white-color: #f9f9f9;
    --dark-mode-color-body: #444;
    --black-color: #000;
    --href-color: #ff8c00;
    --red-color: #f13f3f;
    --green-color: #10a810;
}