</div>
</main>
<script>
    document.getElementById("dropdown-btn").addEventListener("click", function() {
        document.querySelector(".dropdown-content").classList.toggle("hide");
        document.querySelector(".dropdown").classList.toggle("hide");
        const hide = document.querySelector(".dropdown-content");
        const icon = document.querySelector("#dropdown-btn .fas");
        if (hide.classList.contains("hide")) {
            icon.classList.remove("fa-angles-left");
            icon.classList.add("fa-angles-right");
        } else {
            icon.classList.remove("fa-angles-right");
            icon.classList.add("fa-angles-left");
        }
        icon.style.transition = "transform 0.3s linear";
    });
</script>

<%- include('../../partials/main/footer.ejs'); -%>