<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('../partials/style.ejs'); -%>
</head>
<body>
    <%- include ('../partials/navigation.ejs'); -%>
    <main class="container">
        <h1>Manage Student Option</h1>
        <div class="option-manage">
            <div>
                <a href="/admin/manage_student/insert">Add</a>
            </div>
            <div>
                <a href="/admin/manage_student/list">List</a>
            </div>
            <div>
                <a href="/admin/announcement/send_to_student">Announcement</a>
            </div>
        </div>
    </main>
</body>
</html>