<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert Student API</title>

</head>
<body>
  <form class="form-insert-student" style="margin: 200px;" method="POST" action="/admin/manage_student/insert">
    <table>
      <tr>
        <td>Student ID</td>
        <td><input type="text" name="student_id" id="student_id" required></td>
      </tr>
      <tr>
        <td>Student Name</td>
        <td><input type="text" name="student_name" id="student_name" required></td>
      </tr>
      <tr>
        <td>Student Birthday</td>
        <td><input type="date" name="student_dob" id="student_dob"></td>
      </tr>
      <tr>
        <td><input type="submit" value="Insert"></td>
        <td><input type="reset" value="Reset"></td>
    </table>
  </form>

  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const studentID = document.querySelector('#student_id').value;
      const name = document.querySelector('#student_name').value;
      const DoB = document.querySelector('#student_dob').value;
      const email = studentID + '@student.com';

      console.log(studentID, name, DoB, email);
      try {
        const res = await fetch('/admin/manage_student/insert', {
          method: 'POST',
          body: JSON.stringify({ studentID, name, DoB, email }),
          headers: {'Content-Type': 'application/json'},
        });
        if (res.status === 200) {
          location.reload();
        }
      } catch (error) {
        console.log(error);
      }
    });
  </script>
</body>
</html>